@charset "utf-8";

}
.copyrightL {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #033AB8;
	text-align: left;
}
.copyrightR {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #033AB8;
	text-align: right;
}
.footerCtr{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #767676;
	text-align: center;
	padding: 8px;
}
a:link {
	text-decoration: none;
	text-align: center;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.productTxt {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	color: #663399;
	letter-spacing: 1.2px;
	padding: 4px;
}
.msgOne {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	vertical-align: middle;
	margin: 2px;
	padding: 6px;
	text-align: center;
	line-height: 16px;
	font-weight: normal;
	font-style: italic;
}
.msgTwo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	vertical-align: middle;
	margin: 2px;
	text-align: center;
	font-weight: bold;
	font-style: normal;
	line-height: 10px;
	padding-bottom: 6px;
}
#adminHomelink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1451AA;
	letter-spacing: 1px;
	text-align: left;
	padding-left: 50px;
	padding-top: 10px;
	background-color: #CCCCCC;
	border-bottom: 1px solid #444444;
	padding-bottom: 4px;
}
.msgThree {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-align: justify;
	font-style: normal;
}
.oneColFixCtrHdr #footerNav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #003366;
	background-color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	border-top-width: thin;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #767676;
}
#weatherlinks {
	float: left;
	margin-right: 0px;
	margin-left: 10px;
	position: relative;
}
.expireSoon {
	color: #990000;
	font-size: 9px;
}
.tableBtmTxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	padding: 10px;
}
